<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css"/>
</head>
<body>
    <nav class="nav-bar">
        <h1>Lewis Howes</h1>
        <a href = "index.html">Home</a>
        <a href = "work.html">Important Work</a>
    </nav>
    

    <div class="hero">  
        <div>   
        <img src="/public/images/about-page.jpg" alt=""/>
        </div>
        <div>
            
        </div>
        </div>
</body>
</html>