<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css"/>

</head>
<body>
    <nav class="nav-bar">
        <h1>Lewis Howes</h1>
        <a href = "about.html">About Lewis</a>
        <a href = "work.html">Important Work</a>
    </nav>
    
    

    <div class="hero">  
        <div>   
        <img src="/public/images/lewis-howes.jpg" alt=""/>
        </div>
        <div>
            LEWIS HOWES is a New York Times Bestselling author of the hit book, The School of Greatness.<br>
            He is a lifestyle entrepreneur, high performance business coach and keynote speaker. A former professional football player and two-sport
            All-American, he is a current USA Men’s National Handball Team athlete. He hosts a top 100 iTunes ranked podcast, The School of Greatness, which has over 100 million downloads and 1000 episodes since it launched in 2013. Lewis was recognized by The White House and President Obama as one of the top 100 entrepreneurs in the country under 30. Details Magazine called him one of “5 Internet Guru’s that can Make You Rich.” Lewis is a contributing writer for Entrepreneur and has been featured on Ellen, The Today Show, The New York Times, People, Forbes, Inc, Fast Company, ESPN, Sports Illustrated, Men’s Health, and other major media outlets.
        </div>
        </div>
</body>
</html>